/*NOTES:
    Yet to be implemented: 
    -my projects
    -my experiences
    -nicer font
    -support for displays of different sizes (@mobile etc.)
    -general reformatting of content
    -Skill hover (hover over icon --> display language)
    -darkmode light mode switch
    -Go to top
*/


/*Waving Emojis*/
span.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}
@keyframes wave-animation {
    0% {transform: rotate( 0.0deg)}
    10% {transform: rotate(-10.0deg)}
    20% {transform: rotate( 12.0deg)}
    30% {transform: rotate(-10.0deg)}
    40% {transform: rotate( 9.0deg)}
    50% {transform: rotate( 0.0deg)}
    100% {transform: rotate( 0.0deg)}
}

/*Toggle Button*/
.switch {
  position: absolute;
  right: 50px;
  top: 25px;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/*INTRODUCTION*/
.intro {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 120px 100px;
    max-width: 1440px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Verdana;
    line-height: 1;
    background: white;
    color: dimgray;
}
.intro_alt {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 120px 100px;
    max-width: 1440px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Verdana;
    line-height: 1;
    background: #4c5364;
    color: whitesmoke;
}
.intro_hello, .intro_tagline {
    font-size: 2.5rem;
    font-weight: 300;
    max-width: 650px;
}
.name {
    font-weight: 700;
}
.intro_contact {
    font-size: 1.25rem;
    font-weight: 400;
}
.con_link {
    background: rgba(23, 28, 40, .0);
    text-decoration: none;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    transition: background .1s, border-bottom .2s, border-left .9s, border-top .6s, border-right .9s;
    color: #2196F3;
}
.con_link:hover {
    background: rgba(23, 28, 40, .1);
    transition: background .9s, border-bottom .1s .3s, border-left .3s .5s, border-top .6s .7s, border-right .3s .5s;
    border-bottom: 5px solid #2196F3;
    border-left: 5px solid #2196F3;
    border-top: 5px solid #2196F3;
    border-right: 5px solid #2196F3;
} 
.icon{
    width: 41px;
    height: 41px;
    padding: 1px;
}



/*BIOGRAPHY*/
.biography {
    display: flex;
    justify-content: left;
    font-family: Verdana;
    max-width: 100%;
    margin: 0;
    justify-content: space-evenly;
    padding: 5px;
    padding-top: 70px;
    padding-bottom: 70px;
    background: white;
    color: dimgray;
}
.bio_alt {
    display: flex;
    justify-content: left;
    font-family: Verdana;
    max-width: 100%;
    margin: 0;
    justify-content: space-evenly;
    padding: 5px;
    padding-top: 70px;
    padding-bottom: 70px;
    background: #c26868;
    color: whitesmoke;
}
#profilepic {
    border-radius: 25px;
    width: 267px;
    height: 400px;
    -webkit-box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 1px 1px 11px 0px rgba(0,0,0,0.75);
}


/*SKILLS*/
.skills {
    display: flex;
    justify-content: left;
    font-family: Verdana;
    max-width: 100%;
    margin: 0;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 5px;
    padding-top: 70px;
    padding-bottom: 70px;
    background: white;
    color: dimgray;
}
.skills_alt {
    display: flex;
    justify-content: left;
    font-family: Verdana;
    max-width: 100%;
    margin: 0;
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    padding: 5px;
    padding-top: 70px;
    padding-bottom: 70px;
    background: #dddddd;
    color: black;
}
#skillpic {
    border-radius: 25px;
    width: 350px;
    height: 290px;
}
.skill_row {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: -10px;
}
.skill_col {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-right: 40px;
    margin-top: -5px;
    margin-bottom: 20px;
}
.skill_col2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
}
.mini_row {
    display: flex;
    align-items: center;
}
.skillicon {
    width: 40px;
    height: 43px;
    padding: 4px;
    
}


/*PROJECTS*/
.projects {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: Verdana;
    max-width: 100%;
    margin: 0;
    justify-content: space-evenly;
    padding: 5px;
    padding-top: 70px;
    padding-bottom: 70px;
    background: white;
}
.projects_alt {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: Verdana;
    max-width: 100%;
    margin: 0;
    justify-content: space-evenly;
    padding: 5px;
    padding-top: 70px;
    padding-bottom: 70px;
    background: #eeeeee;
}
.project_row {
    display: flex;
    align-content: center;
}
.project_col {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 20px;
}
.project_image{
    margin: 0;
    padding: 0;
    width: 350px;
    height: 325px;
}
.container {
    display: inline-block;
    position: relative;
    padding: 1em;
    background-color: black;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    background: rgba(0,0,0,0);
    transition: .5s ease;
}
.main_box {
    transition: .5s ease;
    backface-visibility: hidden;

}
.text {
    background-color: #007bff;
    color: white;
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 4px;
}
.box {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.container:hover {
    background: rgba(0, 0, 0, 0.25);
}
.container:hover .main_box {
    opacity: 0.3;
}
.container:hover .box {
    opacity: 1;
}



/*Default Section Stuff*/
.section_title {
    flex-shrink: 0;
    width: 280px;
    font-weight: 700;
    letter-spacing: 2px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.5rem;
    color: #007bff;
}
.section_title_alt {
    flex-shrink: 0;
    width: 280px;
    font-weight: 700;
    letter-spacing: 2px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: left;
    font-size: 1.5rem;
    color: black;
}
.section_content {
    padding: 20px;
    max-width: 650px;
    width: 100%;
    font-weight: 100;
    font-size: 1rem;
    text-align: justify;
    margin: 5px;
}
p {
    margin-top: 0;
    margin-bottom: 25px;
}
h1 {
    font-family: Verdana;
    margin-top: 0;
    margin-bottom: 8px;
    font-weight: 100;
    font-size: 1rem;
}
h4 {
    font-family: Verdana;
    flex-shrink: 0;
    width: 280px;
    letter-spacing: 2px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #007bff;
}
h6 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333333;
    font-family: Verdana;
    font-weight: 500;
    line-height: 1.5;
    width: 350px;
    margin-top: 0;
    margin-bottom: 15px;

    padding-top: 0px;
    text-align: left;
}
h7 {
    display: inline-block;
    margin: 1px 5px 5px 0;
    font-family: Verdana,monospace;
    font-size: .75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: #007bff;
    border: 1px solid #007bff;
    background: 0 0;
}

.fade {
    margin: 50px;
    padding: 50px;
    background-color: lightgreen;
    opacity: 1;
}






/*RESUME DOWNLOAD*/
.resume {
    display: flex;
    justify-content: center;
}
h5 {
    font-family: Verdana;
    flex-shrink: 0;
    width: 280px;
    letter-spacing: 2px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: #007bff;
}
button {
  border-radius: 4px;
  background-color: #007bff;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 32px;
  padding: 16px;
  width: 220px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}
button{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
button:after {
  content: '»';
  position: absolute;
  opacity: 0;  
  top: 14px;
  right: -20px;
  transition: 0.5s;
}
button:hover{
  padding-right: 24px;
  padding-left:8px;
}
button:hover:after {
  opacity: 1;
  right: 10px;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #171c28;
    color: white;
    
}






/* Base Stuff*/
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
    color: darkgray;
    font-family: Verdana;
    line-height: 1.5;
    width: 100%;
}



/*CODE NOTES 
    
    light blue: #4c5364
    pinkred: #c26868
    slight-gry:	#dddddd
    slight-white:	#eeeeee
    chiang-super dark blue: #171c28

    SCREEN SCALING:

Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens 
@media screen and (max-width: 1000px) {
    .column-66,
    .column-33 {
        width: 100%;
        text-align: center;
    }
    @media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}


    keep the switch bar on screen 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
*/